<?php

/**
 * @var \VietBQ\Articles\Block\Detail $block
 */

$block->getArticle();

?>

<h1 class="page-title" style="margin-bottom: 8pt"><?= $block->getArticle()->getTitle() ?></h1>
<p style="margin-bottom: 12pt">Post at <?= $block->getArticle()->getCreatedAt() ?></p>
<img src="<?= $this->getViewFileUrl('VietBQ_Articles::img/' . $block->getArticle()->getImage()); ?>" style="max-width: 640px"/>
<p class="cms-content-important"><?= $block->getArticle()->getContent() ?></p>
<a href="<?= $block->getAllArticlesURL() ?>" class="action tocart primary">Article List</a>