<?php
/**
 * @var \VietBQ\Articles\Block\Index $block
 */
?>
<style>
    .product-item-info {
        width: 186px;
    }
</style>

<div class="products-grid grid">
    <ol class="product-items widget-product-grid">
        <?php foreach ($block->loadAllArticles() as $article) : ?>
            <li class="product-item">
                <div class="product-item-info">
                    <a href="<?= $block->getArticleURL($article) ?>" class="product-item-photo">
                    <span class="product-image-container" style="width:240px;">
                        <span class="product-image-wrapper" style="padding-bottom: 100%;">
                            <img class="product-image-photo"
                                 src="<?= $this->getViewFileUrl('VietBQ_Articles::img/' . $article->getImage()); ?>"
                                 max-width="240" max-height="300" alt="<?= $article->getImage() ?>">
                        </span>
                    </span>
                    </a>

                    <div class="product-item-details">
                        <strong class="product-item-name">
                            <a title="<?= $article->getTitle() ?>" href="<?= $block->getArticleURL($article) ?>"
                               class="product-item-link"><?= $article->getTitle() ?></a>
                        </strong>
                    </div>
                </div>
            </li>
        <?php endforeach; ?>
    </ol>
</div>

<br>

<?php if ($block->getPagerHtml()): ?>
    <div class="order-products-toolbar toolbar bottom">
        <?php echo $block->getPagerHtml(); ?>
    </div>
<?php endif ?>

</body>
</html>